@keyframes fade-from-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes notif-move-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes notif-move-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
