:root {
    --primary: #0f0f0f;
    --secondary: #1d1d1d;
    --thirdary: #353535;
    --danger: #ef4444;
    --success: rgb(0, 182, 67);
    --warn: rgb(234 179 8);

    --text-primary: #ffffff;
    --text-secondary: #757575;

    --stroke-primary: #2b2b2b;

    --scroll-bg: #1d1d1d;
    --scroll-bar: #343434;
    --scroll-bar-hover: #3b3b3b;
}

.light {
    --primary: #f5f5f5;
    --secondary: #e0e0e0;
    --thirdary: #c5c5c5;
    --success: rgb(0, 193, 71);

    --text-primary: #000000;
    --text-secondary: #505050;

    --stroke-primary: #808080;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-bar);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-hover);
}
